# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
dist-ssr/

# env files
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS artifacts
.DS_Store
Thumbs.db

# vite cache
.vite/
